.slider-container {
    
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 500px;
  }
  
.slider-images {
    display: flex;
    width: 300%;
    height: 100%;
    transition: transform 0.3s ease-in-out;
  }
  
.slider-images img {
    width: 33.33%;
    height: 100%;
    object-fit: cover;
  }
  
.slider-buttons {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  
.slider-buttons button {
    background-color: transparent;
    border: none;
    color: #fff;
    font-size: 24px;
    cursor: pointer;
  }
  
.prev-button {
    margin-left: 20px;
  }
  
.next-button {
    margin-right: 20px;
  }

  .banner-container {
    
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 500px;
  }
  
.banner-images {
    display: flex;
    width: 300%;
    height: 100%;
    transition: transform 0.3s ease-in-out;
  }
  
.banner-images img {
    width: 33.33%;
    height: 100%;
    object-fit: cover;
  }
  